body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f7f8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.page-title {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  color: #1e201e;
}

/* Flexbox container para ma-lay out ang section*/
.main-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  gap: 30px;
}

/* TWo individual Containers */
.add-to-cart-container,
.cart-container {
  width: 48%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #e9efec;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form Container Styles */
.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #0d7c66; /* Change border color when focused */
  outline: none; /* Remove default browser outline */
}

#add-to-cart-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #0d7c66;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

#add-to-cart-btn:hover {
  background-color: #259c84;
  transition: background-color 0.3s ease;
}

.cart-items h2 {
  text-align: center;
  margin-top: 0;
  font-size: 1.5rem;
  color: #1e201e;
}

.edit-del-btn-container {
  margin: 20px 0;
}

#edit-btn {
  background-color: #03346e;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

#edit-btn:hover {
  background-color: #195297;
  transition: background-color 0.3s ease;
}

#delete-btn {
  background-color: #b43f3f;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

#delete-btn:hover {
  background-color: #cc5a5a;
  transition: background-color 0.3s ease;
}

#checkout-btn {
  background-color: #b43f3f;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #0d7c66;
}

#checkout-btn:hover {
  background-color: #259c84;
  transition: background-color 0.3s ease;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}

.select-container {
  margin: 0.5em 0;
}

/* select {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
}
.select-container label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5em;
  color: #555;
}
 */

select {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
}

select:focus {
  outline: none;
  border-color: #0d7c66;
}
option {
  padding: 0.5em;
}

option:disabled {
  color: #aaa;
}
