body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f7f8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.page-title {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  color: #1e201e;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  gap: 30px;
}

.add-to-cart-container,
.cart-container {
  width: 48%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #e9efec;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form Container Styles */
.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  border-color: #0d7c66;
  outline: none;
}

#add-to-cart-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #0d7c66;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

#add-to-cart-btn:hover {
  background-color: #259c84;
  transition: background-color 0.3s ease;
}

.cart-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cart-items h2 {
  text-align: center;
  margin-top: 0;
  font-size: 1.5rem;
  color: #1e201e;
}

#items-summary {
  flex-grow: 1;
}

/* Style for each cart item */
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cart-item span {
  flex: 1;
  color: #333;
  font-size: 1rem;
}

.cart-item .item-checkbox {
  margin-right: 15px;
}

.edit-del-btn-container {
  display: flex;
  gap: 15px;
}

.edit-btn,
.delete-btn {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.edit-btn {
  background-color: #03346e;
  color: white;
  margin-right: 10px;
}

.edit-btn:hover {
  background-color: #195297;
}

.delete-btn {
  background-color: #b43f3f;
  color: white;
}

.delete-btn:hover {
  background-color: #cc5a5a;
}

/* Checkout and Total Section */
.checkout-summary {
  margin-top: 15px;
}

.checkout-summary div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #333;
  justify-content: right;
}

#checkout-btn {
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  background-color: #0d7c66;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  align-self: flex-end;
  margin-top: auto;
}

#checkout-btn:hover {
  background-color: #259c84;
}

.subtotal-display,
.shipping-fee-display,
.total-display {
  font-weight: bold;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}
